<div class="row">
  <nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
      </li>
    </ul>
    <form class="form-inline">
      <input
        type="text"
        [(ngModel)]="search"
        class="form-control mr-sm-2"
        name="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </nav>

  <div>
    <evento-add (addEvent)="addEvento($event)"></evento-add>
  </div>
  <div *ngIf="events && events.length > 0; else noEventos" class="row">
    <evento-item
      [event]="event"
      (deleteEvent)="deleteEevento($event)"
      *ngFor="let event of events | eventoFilter : search"
      class="col-md-4 mt-4"
    >
    </evento-item>
  </div>
</div>

<ng-template #noEventos>
  <br />
  <h4>No hay eventos disponibles</h4>
</ng-template>
